* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.logo img {
  width: 150px;
  padding: 30;
  justify-content: space-around;
}
/* modificaciones de redes */
.redes a {
  font-size: 22px;
}

.list {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

@media (max-width: 991px) .list {
  flex-direction: column;
}

.redes {
  display: flex;
  text-align: center;
}
